langchain
streamlit
google-generativeai
python-dotenv
pymupdf
langchain_google_genai
fastapi
uvicorn[standard]
pydantic[email]
sqlalchemy
supabase
pinecone
redis
pyjwt
bcrypt
psycopg2-binary
celery
ragas
datasets
pandas
rank_bm25
cohere
langchain-community